@import "~materialize-css/dist/css/materialize.min.css";

.card-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.btn {
    margin: 5px 10px;
}